*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url('./img/backgroung.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
.container-title {
    position: absolute;
    top: 40vh;
    left: 5%;
}
h1 {
    text-transform: uppercase;
    font-size: 6vw;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
}
h1 span {
    position: relative;
}
h2 {
    text-transform: uppercase;
    font-size: 2.6vw;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
}
h2 span {
    position: relative;
}
.container-btns {
    position: relative;
    top: 50px;
}
.btns {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 1.56vw;
    width: 15.6vw;
    height: 4.5vw;
    line-height: 4.5vw;
    color: #f1f1f1;
}
.btns > a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #f1f1f1;
}
.btns:nth-child(1){
    margin-right: 30px;
}
.btns:hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
}
.btns:hover > a {
    color: #333;
}
/* .lines-left {
    position: absolute;
    top: 3vw;
    left: 5%;
}
.lines-rigth{
    position: absolute;
    top: 3vw;
    right: 5%;
}
.l1 {
    width: 35vw;
    height: 3px;
    position: relative;
    background: #f1f1f1;
    border-radius: 5px;
}
.l2 {
    width: 33vw;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}
.l3 {
    width: 35vw;
    height: 3px;
    position: relative;

    background: #f1f1f1;
    border-radius: 5px;
}
.l4 {
    width: 33vw;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
    float: right;
} */
.container-logo{
    position: absolute;
    left: 5%;
}
.logo {
    display: block;
    margin: 0 auto;
    width: 15.6vw;
    height: 15.6vw;
}
.medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 80%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle{
    position: relative;
    margin-top: 10px;
}
.logo-medias {
    width: 40px;
    height: 40px
}
.address-container{
    position: relative;
    top: 150px;
    display: flex;
    justify-content: start;
    height: 40px;
}
.address-container > p{
    color: #f0f0f0;
    font-size: 1.5vw;
    line-height: 40px;
    font-weight: 100;
}
.address-container > img{
    width: 40px;
    margin-right: 20px;
}

@media screen and (min-width: 1920px) {
    h1{
        font-size: 115.2px;
    }

    h2{
        font-size: 49.92px;
    }

    .btns{
        font-size: 29.95px;
        width: 299.52px;
        height: 86.4px;
        line-height: 86.4px;
    }

    .logo{
        width: 299.52px;
        height: 299.52px;
    }

    .logo-medias {
        width: 40.32px;
        height: 40.32px;
    }
}

@media screen and (max-width: 1100px) {
    .address-container > p{
        font-size: 16.5px;
    }

    .container-title {
        position: absolute;
        top: 20vh;
        left: 5%;
    }

    .medias{
        top: 45vh;
    }
}

@media screen and (max-width: 768px) {
    h2{
        font-size: 20px;
    }

    .btns{
        font-size: 12px;
        width: 120px;
        height: 34.56px;
        line-height: 34.56px;
    }

    .logo{
        width: 120px;
        height: 120px;
    }

    .l1, .l3{
        width: calc(35vw - 20px)
    }
    .l2, .l4{
        width: calc(33vw - 20px)
    }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 36px;
    }

    .medias{
        flex-direction: row;
        top: 80vh;
        left: 5%;
    }

    .circle{
        margin-left: 10px;
    }
}

@media screen and (max-width: 425px) {
    h1, h2{
        text-align: center;
    }

    h1{
        font-size: 42px;
    }
    .address-container > p{
        font-size: 14px;
    }
    .address-container{
        justify-content: center;
    }
    .container-btns {
        text-align: center;
    }
    .container-title {
        left: 0;
    }
}